<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

<h2>
  <div class= "form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">email:</label>
    <%= @user.email %>
  </div>
</h2>
<h2>
  <div class= "form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">area:</label>
    <%= @user.area %>
  </div>
</h2>
<h2>
  <div class= "form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">hobby:</label>
    <%= @user.hobby %>
  </div>
</h2>

<div class="row">
  <div class="col-md-8">
    <h3>Followers</h3>
    <% @user.follower_users.each do |user| %>
      <tr>
        <%= user.name %>
      </tr>
    <% end %>
  </div>
</div>
 
    

  
  